name: Build & Deploy
on:
  push:
    branches: [21-set-up-cicd-pipeline-with-do] #Needs to be changed to release when on main.
jobs:
  deploy:
    name: Deploy Node Monitor
    runs-on: ubuntu-latest
    steps:
    - name: SSH into droplet and run script
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{secrets.SSH_HOST}} # IP address of the server you wish to ssh into
        key: ${{secrets.SSH_KEY}} # Private or public key of the server
        username: ${{ secrets.SSH_USERNAME }} # User of the server you want to ssh into
        script: | #change the script below to do 'git pull' in the correct directory in the droplet
          cd test 
          cd node-monitor
          docker compose down
          git pull
          docker compose up --build -d
          echo 'Deployment successful to digital ocean'
