name: Build & Deploy
on:
  push:
    branches: [21-set-up-cicd-pipeline-with-do]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy Node Monitor
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{secrets.SSH_HOST}} # IP address of the server you wish to ssh into
        key: ${{secrets.SSH_KEY}} # Private or public key of the server
        username: ${{ secrets.SSH_USERNAME }} # User of the server you want to ssh into
        script: | #testing pt.1
          mkdir test
          cd test
          git clone git@github.com:aviate-labs/node-monitor.git
          echo 'Deployment successful to digital ocean'
